@media (max-width: 720px) {
  header {
    height: 40px;
  }

  header .logo {
    height: 25px;
    margin-left: 5px;
  }
  header ul,
  .header_menu {
    gap: 5px;
    height: 40px;
    margin-right: 10px;
  }
  .header_menu {
    position: fixed;
    width: 360px;
    justify-content: space-between;
    background: #242;
    bottom: 0;
  }
  .header_menu li {
    margin: 5px;s
  }
  header ul li,
  .header_menu li {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 360px) {
  .header_menu {
    width: 100%;
  }
}
